body {
  margin: 0;
  padding: 0;
}
hr {
    border-top: 1px dashed #acace6;
}
a {
    color: #5149BA;
    text-decoration: none;
}
a:hover {
    color: #372A63;
}
.button {
  background-color: #CBC3E3;
  color: whitesmoke;
  padding: 12px 20px;
  border: solid #5149BA;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif; 
}
.one {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: auto;
  align-items: center;
  justify-content: center; 
  background: linear-gradient(45deg, #30D5C8,#E0B0FF,#FF5733, #FFC300);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite; 
  text-align: center;
  font-family: 'Montserrat', sans-serif; 
  font-weight: 800;
  font-size: 35px;
  color: white; 
}
.two {
  background-color: whitesmoke;
  padding: 100px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 200;
}
.centered {
  display: flex;
  justify-content: center;
}
.img {
  border-radius: 50%;
}
.three {
  background-color: whitesmoke;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  display: flex;
  justify-content: center; 
  color: black;
}
.column {
  float: right;
  width: 50%;
}
.box {
  border: 10px;
  margin: 20px;
}
.bottom {
  background-color: white;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-align: center; 
}
@keyframes color {
  0%{
      background-position: 0 50%;
  }
  50%{
      background-position: 100% 50%;
  }
  100%{
      background-position: 0 50%;
  }
}

